<!DOCTYPE html>
<html lang="en">

<head>
  {{>headlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure class="err_img">
                            <img src="images/error.png" alt="payon" class="img-fluid" title="developer team">
                        </figure>
                        <h1>Opps! Page Not Found</h1>
                        <p>Go Back to Home Page click below</p>
                        <a href="/" class="btn btn-primary btn-lg">Go Back</a>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
    <!-- footer area -->
    {{>footer}}
</body>

</html>